.pop-up {
  animation: popUp 0.4s forwards;
  display: block;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.pop-down {
  animation: popDown 0.4s forwards;
  display: block;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.64, 0, 0.78, 0);
}

@keyframes popUp {
  from {
    height: 0;
    width: 0;
  }

  to {
    height: 500px;
    width: 300px;
  }
}

@keyframes popDown {
  from {
    height: 500px;
    width: 300px;
  }
  to {
    height: 0;
    width: 0;
    display: hidden;
    border: 0;
  }
}

.tech-box:hover {
  animation: shake 150ms 2 forwards;
  -moz-animation: shake 150ms 2 forwards;
  -webkit-animation: shake 150ms 2 forwards;
  -o-animation: shake 150ms 2 forwards;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform: translate(3px, 0);
  }
  50% {
    -ms-transform: translate(-3px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: translate(3px, 0);
  }
  50% {
    -o-transform: translate(-3px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}

/* Tooltip */

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: black;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tech-box:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

