@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../public/static/fonts/GTEestiProDisplay-Bold.woff") format("woff"),
    url("../public/static/fonts/GTEestiProDisplay-Bold.woff2") format("woff2"),
    url("../public/static/fonts/GTEestiProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../public/static/fonts/GTEestiProDisplay-Light.woff") format("woff"),
    url("../public/static/fonts/GTEestiProDisplay-Light.woff2") format("woff2"),
    url("../public/static/fonts/GTEestiProDisplay-Light.ttf") format("truetype");
  font-weight: 350;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../public/static/fonts/GTEestiProDisplay-Medium.woff")
      format("woff"),
    url("../public/static/fonts/GTEestiProDisplay-Medium.woff2") format("woff2"),
    url("../public/static/fonts/GTEestiProDisplay-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../public/static/fonts/GTEestiProDisplay-Regular.woff")
      format("woff"),
    url("../public/static/fonts/GTEestiProDisplay-Regular.woff2")
      format("woff2"),
    url("../public/static/fonts/GTEestiProDisplay-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: "GT Eesti Pro Display", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

#top-nav {
  box-shadow: 0 8px 48px 0 rgb(10 11 30 / 8%), 0 4px 8px 0 rgb(10 11 30 / 6%);
  max-width: 1664px;
}

#construction-dog {
  filter: drop-shadow(-10px 10px 0px #c7c7cb);
}

#projects-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#projects-container::-webkit-scrollbar {
  display: none;
}

.project-box-item:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tech-box {
  box-shadow: -5px 5px 0px #000000;
}
